.clang
.codelite/
_codelite.project
__codelite.workspace
__codelite.session
__codelite.tags
refactoring.db
~$*.docx
.project
*.o
*.bin
*.elf
*.ld
*.map
*.hex
*.lss
*.lst
*.exe
*.pdf
_run.bat
_dummy.jpg
bmptk_*_stack.c
_doxygen.bat
html
